* {
   
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/close-up-female-s-hand-holding-baby-s-breath-flowers-against-blue-background_23-2148048411.jpg?t=st=1711010144~exp=1711013744~hmac=820daf3393b1a622008a1b44b1dc0558943363533514b2078f19b7a7c866a2f3&w=740);
}
.container {
    background-color: rgb(238, 225, 209);
    width: 800px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px black;
    border-radius: 10px;
}
.box1 {
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: rgb(173, 222, 241);
    border-radius: 10px 0px 0px 10px;
}
.box1 h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    color: white;
}
.pgt{
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 30vh;
}
.pgt h2{
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0px;
}
.content .box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 60vh;
}
.box2 input{
    margin: 15px 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 0;
    font-size: 0.9rem;
}
.box2 button{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(84, 206, 214);
    color: black;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}
